<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->

    <!-- сокеты -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>


    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <!-- <link rel="stylesheet" type="text/css" href="style.css" rel="stylesheet">  -->
	<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&amp;subset=cyrillic" rel="stylesheet">

    {% if title %}
        <title>Игровой портал Ефромеева - {{ title }}</title>
    {% else %}
        <title>Игровой портал Ефромеева</title>
    {% endif %}
</head>
<body>


        {% block content1 %}{% endblock %}



        {% block header %}{% endblock %}



	<main class="main-container">
		
		<div class="main-wrapper">
        <ul class="main-menu-list">
				<li class="menu-item">
					<a href="{{ url_for('super_home') }}" class="nav-link">Главная</a>
				</li>
				<li class="menu-item all-games">
					<a href="{{ url_for('games') }}" class="nav-link gms">Игры</a>
					<ul class="sub-games">
						<li><a href="{{ url_for('pong') }}" class="">Pong</a></li>
						<li><a href="{{ url_for('snake') }}" class="">Snake</a></li>
						<li><a href="{{ url_for('flappybird') }}" class="">Flappy Ball</a></li>
						<li><a href="{{ url_for('livegame') }}" class="">Alive game</a></li>
					</ul>
				</li>
				<li class="menu-item">
					<a href="{{ url_for('tutor') }}" class="nav-link">Туториалы</a>
				</li>
				<li class="menu-item">
					<a href="{{ url_for('home') }}" class="nav-link">Блог</a>
				</li>
				<li class="menu-item">
					<a href="{{ url_for('about') }}" class="nav-link">О нас</a>
				</li>
				<li class="menu-item">
					<a href="" class="nav-link rules-link">Правила</a>
				</li>
			</ul>
		</div>
	</main>

            <!-- Основной блок для вывода контента -->
            {% block content %}{% endblock %}


            <!-- <footer class="footer-container">  </footer> -->
    

    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>