{% extends "layout.html" %}

{% block content1 %}
<div class="fix">
<div class="backimage-game"></div> 
</div>
{% endblock content1 %}

{% block header%}

<header class="header-container-games">
    <div class="header-menu">
            <a class="logo" href="{{ url_for('super_home') }}"><span>STANKIN</span>Games</a>
            <ul class="user-list">
                {% if current_user.is_authenticated %}

                <li class="nav-item-user">
                 <a class="nav-item " href="{{ url_for('new_post') }}">New Post</a>
                </li>
                <li class="nav-item-user">    
                    <a class="nav-item " href="{{ url_for('account') }}">Account</a>
                </li>
                <li class="nav-item-user">    
                    <a class="nav-item " href="{{ url_for('logout') }}">Logout</a>
                </li>

                {% else %}

                <li class="user-item">
                    <a href="{{ url_for('login') }}" class="login">Войти</a>
                </li>
                <li class="user-item">
                    <a href="{{ url_for('register') }}" class="reg">Регистация</a>
                </li>

                {% endif %}
            </ul>
        </div>
    </header>
</div>
{% endblock header %}

{% block content %}

<!-- сокеты -->
<script type="text/javascript">
    var userio = "{{ current_user.username }}";
    $(document).ready(function() {
        var socket = io.connect();
        socket.on('connect', function() {
            socket.send('User has connected!');
        });
        socket.on('message', function(msg) {
            $("#messages").append('<li>' + msg + '</li>');
            console.log('Received message');
        });
        $('#sendbutton').on('click', function() {
            socket.send(userio + ': ' + $('#myMessage').val());
            $('#myMessage').val('');
            var block = document.getElementById("chatdiv");
            setTimeout(()=>{block.scrollTop = block.scrollHeight;}, 50);
        });
    });
    </script>


<div class="fix">
<section class="game-content">
    <div class="pong-block">
        <div class="game-wrap">
            <h3>Flappy bird</h3>
            <div class="game-wrap">
                    <canvas id="canvas-snake" width="608" height="608"></canvas>
            </div>
         </div>
         <div class="rule-wrap">
             <h3 style="padding: 20px">Управление</h3>
             <div class="pong-rule">
                 Начать игру ENTER
                 <p>
                     Левый игрок:
                     вверх - Q
                     вниз - A
                 </p>
                 <p>
                     Правый игрок:
                     вверх - P
                     вниз - ;
                 </p>
                 Игра длится до 11 очков
             </div>


             <div id="chatdiv" class="chat" style="overflow-y: auto;"><ul id="messages"></ul>
            </div>
            <input type="text" id="myMessage" size="20">
            <button id="sendbutton">Send</button></div>



        
        </canvas>
    </div>
</section>
</div>
</main>	



<section class="modal-rules modal">
    <div class="rules">
        <div class="top-rules"></div>
        <div class="bottom-rules">
            <h2>Правила</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </span>
        </div>
        <button id="rule-close" class="rules-close hidden">закрыть</button>
        <label for="rule-close" class="cls">x</label>
    </div>
</section>
</div>

<script>
        function rule(){

        var ruleup = document.querySelector(".modal-rules");
        var rulelocate = document.querySelector(".rules-link");
        var ruleclose = ruleup.querySelector(".rules-close");
        rulelocate.addEventListener("click",function(evt){
            evt.preventDefault();
            ruleup.classList.add("rules-show");
            rulelocate.classList.add("active-nav-link");
        });
        ruleclose.addEventListener("click",function(evt){
            evt.preventDefault();
            ruleup.classList.remove("rules-show");
            rulelocate.classList.remove("active-nav-link");
            actmodal = 0;
        });
    }
    rule();
</script>


<script>
        const cvs = document.getElementById("canvas-snake");
        const ctx = cvs.getContext("2d");
        const box = 32;
        const ground = new Image();
        ground.src = "{{ url_for('static', filename='img/' + 'ground.png') }}";
        const foodImg = new Image();
        foodImg.src = "{{ url_for('static', filename='img/' + 'food.png') }}";
        
        
        
        let snake = [];
        
        snake[0] = {
            x : 9 * box,
            y : 10 * box
        };
        
        
        
        let food = {
            x : Math.floor(Math.random()*17+1) * box,
            y : Math.floor(Math.random()*15+3) * box
        }
        
        
        
        let score = 0;
        
        
        let d;
        
        document.addEventListener("keydown",direction);
        
        function direction(event){
            let key = event.keyCode;
            if( key == 37 && d != "RIGHT"){
                d = "LEFT";
            }else if(key == 38 && d != "DOWN"){
                d = "UP";
        
            }else if(key == 39 && d != "LEFT"){
                d = "RIGHT";
            }else if(key == 40 && d != "UP"){
                d = "DOWN";
            }
        }
        
        function collision(head,array){
            for(let i = 0; i < array.length; i++){
                if(head.x == array[i].x && head.y == array[i].y){
                    return true;
                }
            }
            return false;
        }
        
        
        function draw(){
            
            ctx.drawImage(ground,0,0);
            
            for( let i = 0; i < snake.length ; i++){
                ctx.fillStyle = ( i == 0 )? "green" : "white";
                ctx.fillRect(snake[i].x,snake[i].y,box,box);
                
                ctx.strokeStyle = "red";
                ctx.strokeRect(snake[i].x,snake[i].y,box,box);
            }
            
            ctx.drawImage(foodImg, food.x, food.y);
            
            let snakeX = snake[0].x;
            let snakeY = snake[0].y;
            
            if( d == "LEFT") snakeX -= box;
            if( d == "UP") snakeY -= box;
            if( d == "RIGHT") snakeX += box;
            if( d == "DOWN") snakeY += box;
            
            if(snakeX == food.x && snakeY == food.y){
                score++;
                food = {
                    x : Math.floor(Math.random()*17+1) * box,
                    y : Math.floor(Math.random()*15+3) * box
                }
            }else{
                snake.pop();
            }
            
            
            let newHead = {
                x : snakeX,
                y : snakeY
            }
            
            function clear(){
                location.reload();
            }
            
            if(snakeX < box || snakeX > 17 * box || snakeY < 3*box || snakeY > 17*box || collision(newHead,snake)){
                clearInterval(game);
                document.addEventListener("keydown",function(e){
                    if(e.keyCode === 32){
                        clear();
                    } if(e.keyCode === 13){
                        game = setInterval(draw,100);
                        draw();
                    }
                });
            }
            
            snake.unshift(newHead);
            
            ctx.fillStyle = "white";
            ctx.font = "45px Changa one";
            ctx.fillText(score,2*box,1.6*box);
        }
        
        let game = setInterval(draw,100);</script>
{% endblock content %}